img{
    width: 100%;
     
    display: block; 
}

.navbar{
    background-color: brown;
position: fixed;              
    top: 0;
    width: 100%;                   
    padding: 10px 40px;
    z-index: 100;  
    box-sizing: border-box;
}

.nav-links {
    list-style: none;            
    display: flex;                 
    justify-content: flex-end;     
    margin: 0;
    padding: 0;
}


.nav-links li {
   margin-left: 25px;            
}

body {
    margin: 0;          
    padding-top: 70px;  
    font-family: Arial, sans-serif;
    background-color: white;

}
h3{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

h5{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

h4{
    text-align: left;
    margin-top: 20px;
    font-size: 25px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.nav-links a {
    color: black;             
    text-decoration: none;    
    font-size: 18px;
}
p5{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}
@media (max-width: 768px) {
   .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

 
    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 10px 0;
    }

 
    .logo {
        font-size: 1.2rem;
    }
     .full-img {
        height: 70vh;
    }

}
@media (min-width: 1024px) {

    .logo {
        font-size: 2rem;
    }

    .nav-links li {
        margin-left: 30px;
    }
    .full-img {
        height: 100vh;
    }
}

p1{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

